<% applocals.header='Active Channels'%>
<% applocals.header_small='Active channels can be used to send and receive'%>

<section class="content dash">
    <div class="row dash-row">
        <% if(viewdata.listChannels.status =='success') { %>
        <% viewdata.listChannels.data.channels.sort((a,b) => { return Number(b.capacity) - Number(a.capacity); }).forEach(function (channel) { %>
        <%
        var channel_color ='';
        var channel_status ='';
        var channel_icon ='';
        if(channel.active) {
        channel_color='bg-green';
        channel_status = 'ONLINE';
        channel_icon='fa-check';
        } else {
        channel_color='bg-red';
        channel_status = 'OFFLINE';
        channel_icon = 'fa-ban';
        }

        var local_percent =0;
        var remote_percent =0;
        var capacity = Number(channel.local_balance) + Number(channel.remote_balance);
        local_percent = ((Number(channel.local_balance) * 100) / Number(capacity)).toFixed(2);
        remote_percent = ((Number(channel.remote_balance) * 100) / Number(capacity)).toFixed(2);



        %>




        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div id="<%= channel.chan_id %>" class="small-box <%= channel_color %> dash-widget-parent-md">
                <div class="inner dash-widget-md">
                    <div>
                        <span class="info-box-icon"><i class="fa <%= channel_icon %>" title="<%= channel_status %>"></i></span>

                    </div>
                    <div class="text-right dash-widget-details">
                        ID: <a href="https://1ml.com/<%= viewdata.networkMode %>channel/<%= channel.chan_id %>"><%= channel.chan_id %></a><br />
                        Peer: <a href="https://1ml.com/<%= viewdata.networkMode %>node/<%= channel.remote_pubkey %>">Node Details</a><br />
                        Capactiy: <%= Number(channel.capacity).toLocaleString() %><br />
                        Commit Fee: <% if (Number(channel.total_satoshis_sent) - Number(channel.total_satoshis_received) > 0 ||
                        (Number(channel.total_satoshis_sent) == 0 && Number(channel.total_satoshis_received) == 0 && Number(channel.local_balance) > 0)) { %>
                        <%= Number(channel.commit_fee).toLocaleString() %>
                        <% } else { %>
                        <%= Number(0) %> <% } %><br />
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-link"></i>
                </div>
                <div class="channel-balance">
                    <div class="">
                        <%= Number(channel.local_balance).toLocaleString() %> sats
                    </div>
                    <div>
                        <%= Number(channel.remote_balance).toLocaleString() %> sats
                    </div>
                </div>
                <div class="channel-bar">
                    <div class="bg-local text-right" style="width:<%= local_percent %>%;">
                        >>
                    </div>
                    <div class="bg-remote text-left" style="width:<%= remote_percent %>%;">
                        <<
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="$('#<%= channel.chan_id %>').addClass('hide'); $('#<%= channel.chan_id %>_details').removeClass('hide'); return false;" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>

            <div id="<%= channel.chan_id %>_details" class="small-box <%= channel_color %> dash-widget-parent-md hide">
                <div class="inner dash-widget-md bold">
                    <div class="text-left">
                        Private: <%= channel.private %> <br />
                        Commit WT: <%= channel.commit_weight %> <br />
                        Commit Fee/1k WT: <%= channel.fee_per_kw %> <br />
                        Updates: <%= Number(channel.num_updates).toLocaleString() %>
                    </div>
                    <div class="text-right dash-widget-details">
                        Sent: <%= Number(channel.total_satoshis_sent).toLocaleString() %> <br />
                        Received: <%= Number(channel.total_satoshis_received).toLocaleString() %> <br />
                        Unsettled: <%= Number(channel.unsettled_balance).toLocaleString() %> <br />
                        <a href="javascript:void(0);" onclick="ask_for_Close('<%= channel.channel_point %>', '<%= channel.chan_id %>', <%= channel.active %>, <%=(Number(channel.csv_delay) * 10 / 60).toFixed(2) %>, <%= channel.commit_fee %>); return false;">Force Close</a>: <%= (Number(channel.csv_delay) * 10 / 60).toFixed(2) %>h/<%= channel.csv_delay %> bl
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-link"></i>
                </div>
                <div class="channel-balance">
                    <div class="">
                        <%= Number(channel.local_balance).toLocaleString() %> sats
                    </div>
                    <div>
                        <%= Number(channel.remote_balance).toLocaleString() %> sats
                    </div>
                </div>
                <div class="channel-bar">
                    <div class="bg-local text-right" style="width:<%= local_percent %>%;">
                        >>
                    </div>
                    <div class="bg-remote text-left" style="width:<%= remote_percent %>%;">
                        <<
                    </div>
                </div>
                <a href="javascript:void(0);" onclick="$('#<%= channel.chan_id %>_details').addClass('hide'); $('#<%= channel.chan_id %>').removeClass('hide'); return false;" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>


        <!--

    <div class="col-md-3 col-sm-6 col-xs-12" style="min-width:50%;" id="<%= channel.chan_id %>" onclick="$('#<%= channel.chan_id %>').addClass('hide'); $('#<%= channel.chan_id %>_details').removeClass('hide');">
        <div class="info-box <%= channel_color %>">


            <div class="info-box-content">
                <span class="info-box-text" style="text-align:right">
                    CID: <%= channel.chan_id %>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" style="padding:0px; color: #FFF;" onclick="ask_for_Close('<%= channel.channel_point %>','<%= channel.chan_id %>' , '<%= channel.active %>')"><i class="fa fa-times"></i></button>
                </span>
                <span class="info-box-number">My Balance: <%= Number(channel.local_balance).toLocaleString() %> SAT <span style="font-size:12px;">(<%= local_percent %> %)</span> </span>

                <div class="progress">
                    <div class="progress-bar" style="width: <%= local_percent %>%"></div>
                </div>
                <span class="info-box-number" style="text-align:right;font-size:12px;">
                    Available to Receive: <%= Number(channel.remote_balance).toLocaleString() %> SAT <span style="font-size:12px;">(<%= remote_percent %> %)</span>
                </span>
            </div>
            <a href="javascript:$('#<%= channel.chan_id %>').addClass('hide'); $('#<%= channel.chan_id %>_details').removeClass('hide');" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 hide" style="min-width:50%;" id="<%= channel.chan_id %>_details" onclick="$('#<%= channel.chan_id %>_details').addClass('hide'); $('#<%= channel.chan_id %>').removeClass('hide');">
        <div class="info-box <%= channel_color %>">

        </div>
    </div>-->
        <% }); %>

        <% if(viewdata.listChannels.data.channels.length==0) { %>
        <h3>You have no active channels.</h3>
        <% } %>

        <% } %>


        <div id="modalbox">
            <div id="confirmBox">
                <div class="message"></div>
                <div id="modalButtons">
                    <button class="button bg-red force">Force it closed!</button>
                    <button class="button bg-yellow yes">Close Gracefully</button>
                    <button class="button bg-green no">Cancel Close</button>
                </div>
            </div>
        </div>

        <script>

            function doConfirm(msg, yesFn, forceFn, noFn) {
                var confirmBox = $("#confirmBox");
                var modalbox = $("#modalbox");
                confirmBox.find(".message").text(msg);
                confirmBox.find(".yes,.no,.force").unbind().click(function () {
                    confirmBox.hide();
                    modalbox.hide();
                });
                confirmBox.find(".yes").click(yesFn);
                confirmBox.find(".force").click(forceFn);
                confirmBox.find(".no").click(noFn);
                modalbox.show();
                confirmBox.show();
            }

            function ask_for_Close(channel_point, cid, isOnline, csvHours, fees) {
                //e.preventDefault();
                if (isOnline) {
                    $("#confirmBox").find(".yes").show();
                } else {
                    $("#confirmBox").find(".yes").hide();
                }
                doConfirm("Are you sure you want to close this channel [" + cid + "] ? If you force it closed it will take ~" + csvHours + " hours to have your coins returned on-chain and will cost " + fees + " sats.", function yes() {
                    closeChannel(channel_point, cid, false);
                }, function force() {
                    closeChannel(channel_point, cid, true);
                }, function no() {
                    // do nothing
                });
            }

            function closeChannel(channel_point, cid, force) {
                notify_handler('info', 'Wait , ' + (force ? 'force' : '') + ' closing channel [' + cid + '] ...');
                $.post("/activechannels/closechannel",
                    "channel_point=" + channel_point + "&force=" + force,
                    function (htmlResult) {
                        if (htmlResult.status == 'fail') {
                            notify_handler('error', htmlResult.data.error_message);
                        } else {
                            notify_handler('success', 'closing_txid: ' + htmlResult.data.closing_txid);
                        }
                    });
                return false;

            }

        </script>
    </div>
</section>