<% applocals.header='Dashboard'%>
<% applocals.header_small='Control panel'%>

<section class="content">

    <script src="dist/js/clipboard.min.js"></script>

    <script>
        var clipboard = new Clipboard('.btn');

        clipboard.on('success', function (e) {
            $('#' + e.trigger.id).html('Copied');
            setTimeout(function () {
                $('#' + e.trigger.id).html('Copy');
            }, 5000);
            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            $('#' + e.trigger.id).html('Failed');
            setTimeout(function () {
                $('#' + e.trigger.id).html('Copy');
            }, 5000);
        });
    </script>

    <div class="row">

        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-green dash-widget-parent-md">
                <div class="inner dash-widget-md">
                    <input id="input_active_channels" type="hidden" value="0">
                    <input id="input_pending_channels" type="hidden" value="0">
                    <div>
                        <h3 id="h3_channels_box">0 <sup style="font-size: 20px">of 0</sup></h3>


                        <p>Active Channels <span id="active_channels_details"></span></p>
                    </div>
                    <div class="text-right dash-widget-details">
                        Incoming Cap. <span id="active_incoming_cap">0</span><br />
                        Outgoing Cap. <span id="active_outgoing_cap">0</span><br />
                        Commit Fees <span id="active_commit_fee">0</span>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-link"></i>
                </div>
                <a href="activechannels" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-maroon dash-widget-parent-md">
                <div class="inner dash-widget-md">
                    <div>
                        <h3><span id="channels_opening">0</span></h3>

                        <p>Opening Channels</p>
                    </div>
                    <div class="text-right dash-widget-details">
                        Incoming Cap. <span id="opening_incoming_cap">0</span><br />
                        Outgoing Cap. <span id="opening_outgoing_cap">0</span>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-log-in"></i>
                </div>
                <a href="pendingchannels" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-purple dash-widget-parent-md">
                <div class="inner dash-widget-md">
                    <div>
                        <h3><span id="channels_closing">0</span></h3>

                        <p>Closing Channels</p>
                    </div>
                    <div class="text-right dash-widget-details">
                        Incoming Cap. <span id="closing_incoming_cap">0</span><br />
                        Outgoing Cap. <span id="closing_outgoing_cap">0</span>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-flash-off"></i>
                </div>
                <a href="closingchannels" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow dash-widget-parent-sm">
                <div class="inner dash-widget-sm">
                    <h3 id="h3_connected_peers">0</h3>

                    <p>Connected Peers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-network"></i>
                </div>
                <a href="peers" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red dash-widget-parent-sm">
                <div class="inner dash-widget-sm">
                    <h3 id="span_list_payments">0</h3>

                    <p>Outgoing Payments</p>
                </div>
                <div class="icon">
                    <i class="ion ion-paper-airplane"></i>
                </div>
                <a href="channel_transactions" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua dash-widget-parent-sm">
                <div class="inner dash-widget-sm">
                    <input id="input_list_invoices" type="hidden" value="0">
                    <input id="input_pending_invoices" type="hidden" value="0">
                    <h3 id="h3_invoices_box">0 <sup style="font-size: 20px">of 0</sup></h3>

                    <p>Paid Invoices</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="paidinvoices" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-flash"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">In Channels</span>
                    <%
                    var channelbalance =0;
                    if(viewdata && viewdata.channelBalance && viewdata.channelBalance.status== 'success')
                    {
                    channelbalance = Number(viewdata.channelBalance.data.balance);
                    }
                    %>
                    <span class="info-box-number" id="span_channel_balance_index">0</span>
                    <span class="info-box-text">SAT</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-social-bitcoin"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">On Chain</span>
                    <%
                    var walletbalance =0;
                    if(viewdata && viewdata.walletBalance && viewdata.walletBalance.status== 'success')
                    {
                    walletbalance = Number(viewdata.walletBalance.data.confirmed_balance);
                    }
                    %>
                    <span class="info-box-number" id="span_confirmed_balance">0</span>
                    <span class="info-box-text">SAT</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-flash"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending In Channels</span>
                    <span class="info-box-number" id="pending_channels_balance">0</span>
                    <span class="info-box-text">SAT</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="ion ion-social-bitcoin"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending On Chain</span>
                    <%
                    var unconfirmed_balance =0;
                    if(viewdata && viewdata.walletBalance && viewdata.walletBalance.status== 'success')
                    {
                    unconfirmed_balance = Number(viewdata.walletBalance.data.unconfirmed_balance);
                    }
                    %>
                    <span class="info-box-number" id="span_unconfirmed_balance">0</span>
                    <span class="info-box-text">SAT</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>


    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon">Node Pubkey </span>
                <input class="form-control" readonly="readonly" placeholder="Node Pubkey ..." type="text" id="input_node_pubkey">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat" id="btn_node_pubkey" data-clipboard-target="#input_node_pubkey">Copy</button>
                </span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Node Address</span>
                <input class="form-control" readonly="readonly" placeholder="Node Address ..." type="text" id="input_node_address">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat" id="btn_node_address" data-clipboard-target="#input_node_address">Copy</button>
                </span>
            </div>            
        </div>
    </div>


    <div class="row">
        <div class="col-md-9">
            <h3>Special thanks to <a href="https://github.com/bitcoin/bitcoin" target="_blank">Bitcoin Core</a> developers and <a href="https://github.com/lightningnetwork/lnd" target="_blank">LND</a> developers!</h3>
        </div>
    </div>

</section>


