<% applocals.header='Pay'%>
<% applocals.header_small='Make A Payment'%>

<script type="text/javascript" src="js/jsqrcode/src/grid.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/version.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/detector.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/formatinf.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/errorlevel.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/bitmat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/datablock.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/bmparser.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/datamask.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/rsdecoder.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/gf256poly.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/gf256.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/decoder.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/qrcode.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/findpat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/alignpat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/databr.js"></script>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay With Lightning</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <div class="box-body">
                        <div id="qr-scan" class="hide">
                            <video id="video" style="width: 100%;" autoplay playsinline controls="true"></video>
                            <canvas id="image-canvas" class=""></canvas>
                            <script>
                                var currentStream;
                                var currentDeviceId;
                                var videoDevices;

                            </script>

                            <script>


                                qrcode.callback = function (data) {
                                    var data;
                                    //console.log(data);
                                    if (data && data[0] == 'l' && data[1] == 'n') {
                                        $('#payment_request').val(data);
                                        decode_request();
                                        console.log("Scanned QR: " + data);
                                        $("#qr-scan").addClass("hide");
                                    }
                                    
                                };

                                function decode() {
                                    var v = document.getElementById("video");
                                    var c = document.getElementById("image-canvas");
                                    var ctx = c.getContext("2d");
                                    ctx.imageSmoothingEnabled = false;
                                    c.width = v.offsetWidth;
                                    c.height = v.offsetHeight;
                                    ctx.drawImage(v, 0, 0, v.offsetWidth, v.offsetHeight);
                                    qrcode.decode(c.toDataURL());
                                    // flip context horizontally

                                    ctx.translate(c.width / 2, c.height / 2);
                                    ctx.scale(-1, 1);
                                    qrcode.decode(c.toDataURL());
                                }

                            </script>
                        </div>

                        <div class="form-group">
                            <label for="payment_request" class="col-sm-2 control-label">Payment Request</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" placeholder="Paste payment request" id="payment_request" contenteditable="true" onclick="paste()" oninput="decode_request(true);"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Amount</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" readonly="readonly" id="amount" placeholder="Amount ...">
                                    <span class="input-group-addon">SAT</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memo" class="col-sm-2 control-label">Memo</label>

                            <div class="col-sm-10">
                                <input class="form-control" readonly="readonly" placeholder="Memo ..." type="text" id="memo">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" onclick="scan_QR();">Scan QR</button>
                        <button class="btn btn-default" onclick="decode_request();">Decode</button>
                        <button class="btn btn-default" onclick="reset_form();">Reset</button>
                        <button type="submit" id="send" class="btn btn-info pull-right" onclick="send_payment($('#payment_request').val());">Send Payment</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>

<script>
    function reset_form() {
        $('#amount').val('');
        $('#memo').val('');
        $('#payment_request').val('');
        return false;
    }

    function decode_request(suppressErrors) {
        var payment_request = $('#payment_request').val();
        if (!payment_request)
            return;

        if (!suppressErrors)
            notify_handler('info', 'Wait , Decoding ...');
        $.post("/pay/decode_request",
            "payment_request=" + payment_request,
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    $('#amount').val('');
                    $('#memo').val('');
                    if (!suppressErrors)
                        notify_handler('error', htmlResult.data.error_message);
                } else {
                    $('#amount').val(htmlResult.data.num_satoshis);
                    $('#memo').val(htmlResult.data.description);
                    notify_handler('success', 'decoded !');
                }
            });
        return false;
    }

    function send_payment(payment_request) {
        notify_handler('info', 'Wait , sending payment ...');
        $("#send").attr("disabled", true);
        $.post("/pay",
            "payment_request=" + payment_request,
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    notify_handler('error', htmlResult.data.error_message);
                } else {
                    notify_handler('success', 'Payment has been sent. payment_preimage_str: ' + htmlResult.data.payment_preimage_str);
                }
                $("#send").attr("disabled", false);
            });
        return false;
    }

    function paste() {
        if ($('#payment_request').val() != "")
            return;

        $('#payment_request').select();
        document.designMode = "on";
        var pasted = document.execCommand('paste');
        window.getSelection().removeAllRanges();
        document.designMode = "off";
        if (pasted)
            decode_request(true);

        if (navigator.clipboard && !pasted) {
            navigator.clipboard.readText()
                .then(text => {
                    if (text.length > 150 && text.slice(0, 2) == "ln")
                        $('#payment_request').val(text);
                    decode_request(true)
                })
                .catch(err => {
                    console.error('Failed to read clipboard contents: ', err);
                });
        }

    }

    paste();

    function scan_QR() {
        getPermission();
    }

    function getPermission() {
        var loadedVideo = false;
        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" }, audio: false }).then(stream => {
            navigator.mediaDevices.enumerateDevices().then(devices => {
                videoDevices = devices.filter(device => (device.kind == "videoinput" || device.kind == "video"));
                if (videoDevices.length == 0) {
                    notify_handler('error', 'No media devices found');
                    return;
                }
                $("#qr-scan").removeClass("hide");
                if (videoDevices.length == 1)
                    loadVideo(videoDevices[0].id);
                else {
                    //alert(videoDevices.length);
                    for (i = 0; i < videoDevices.length; i++) {
                        var device = videoDevices[i];
                        //alert("index: " + i + " facing: " + device.facing + " label: " + device.label.toLowerCase() + " id: " + device.id + " back? " + device.label.toLowerCase().includes("back"));
                        if (device.facing == "environment" || device.label.toLowerCase().includes("back")) {
                            //alert("found back camera");
                            i = videoDevices.length;
                            loadedVideo = true;
                            loadVideo(device.id);
                            return;
                        }

                    };
                    if (!loadedVideo) {
                        loadedVideo = false;
                        var video = document.getElementById("video");
                        video.pause();
                        video.srcObject = stream;
                        video.play();
                        if (currentStream == undefined)
                            document.getElementById("video").addEventListener('timeupdate', decode, false);
                        currentStream = stream;
                    }
                }
            });
        });
    };

    function loadVideo(id) {
        var constraints = {};
        constraints.video = {};
        constraints.video.deviceId = { 'exact': id };
        if (currentStream != undefined) {
            currentStream.getTracks().forEach(track => {
                track.stop();
            });
        }
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
            var video = document.getElementById("video");
            video.pause();
            video.srcObject = stream;
            video.play();
            if (currentStream == undefined)
                //document.getElementById("video").addEventListener('timeupdate', decode, false);
                setInterval(decode, 10);
            currentStream = stream;
            currentDeviceId = id;
        });

    };
</script>