<% applocals.header='Pay'%>
<% applocals.header_small='Make A Payment'%>

<script type="text/javascript" src="js/jsqrcode/src/grid.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/version.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/detector.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/formatinf.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/errorlevel.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/bitmat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/datablock.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/bmparser.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/datamask.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/rsdecoder.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/gf256poly.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/gf256.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/decoder.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/qrcode.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/findpat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/alignpat.js"></script>
<script type="text/javascript" src="js/jsqrcode/src/databr.js"></script>

<section class="content">
    <div class="row">
        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay With Lightning</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <div class="box-body">
                        <div id="qr-scan" class="hide">
                            <video id="video" style="width: 100%;" autoplay playsinline controls="true"></video>
                            <canvas id="image-canvas" class="hide"></canvas>
                            <script>
                                var currentStream;
                                var currentDeviceId;
                                var videoDevices;

                            </script>

                            <script>


                              
                                

                            </script>
                        </div>

                        <div class="form-group">
                            <label for="payment_request" class="col-sm-2 control-label">Payment Request</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" placeholder="Paste payment request" id="payment_request" contenteditable="true" onclick="paste()" oninput="decode_request(true);"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Amount</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" readonly="readonly" id="amount" placeholder="Amount ...">
                                    <span class="input-group-addon">SAT</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memo" class="col-sm-2 control-label">Memo</label>

                            <div class="col-sm-10">
                                <input class="form-control" readonly="readonly" placeholder="Memo ..." type="text" id="memo">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" onclick="scan_QR();">Scan QR</button>
                        <button class="btn btn-default" onclick="decode_request();">Decode</button>
                        <button class="btn btn-default" onclick="reset_form();">Reset</button>
                        <button type="submit" id="send" class="btn btn-info pull-right" onclick="send_payment($('#payment_request').val());">Send Lightning Payment</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay With Bitcoin</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="btc_address" class="col-sm-2 control-label">Send to BTC Address</label>

                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Bitcoin Address" id="btc_address" oninput="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Amount</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="btc_amount" placeholder="Amount ...">
                                    <span class="input-group-addon">SAT</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sweep_all" class="col-sm-2 control-label">Sweep all onchain funds</label>

                            <div class="col-sm-10">
                                <input type="hidden" id="sweep_all" value="false" />
                                <span class="input-group-addon box-info"><button class="btn btn-info" onclick="$('#btc_amount').removeAttr('readonly'); $('#btc_amount').val('0'); $('#sweep_all').val('false'); return false;">NO</button></span>
                                <span class="input-group-addon box-warning"><button class="btn btn-warning" onclick="$('#btc_amount').attr('readonly', 'true'); $('#btc_amount').val(lndState.onChainFunds); $('#sweep_all').val('true'); return false;">YES</button></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fees" class="col-sm-2 control-label">Fees/Confirmation Target</label>

                            <div class="col-sm-10">
                                <select id="fees" onchange="feesChanged();">
                                    <option value="3blocks" selected>Confirm in 3 blocks</option>
                                    <option value="xblocks">Confirm in X blocks</option>
                                    <option value="satbyte">Set SAT/Byte</option>
                                </select>
                            </div>
                        </div>
                        <div id="xblocks-div" class="form-group hide">
                            <label for="xblocks" class="col-sm-2 control-label">Confirm in #X Blocks</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="xblocks" placeholder="#">
                                    <span class="input-group-addon">Blocks</span>
                                </div>
                            </div>
                        </div>
                        <div id="satbyte-div" class="form-group hide">
                            <label for="satbyte" class="col-sm-2 control-label">Set SAT/Byte Fee</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="satbyte" placeholder="#">
                                    <span class="input-group-addon">sat/byte</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" onclick="scan_QR_BTC();">Scan QR</button>
                        <button class="btn btn-default" onclick="reset_form();">Reset</button>
                        <button type="submit" id="send_btc" class="btn btn-info pull-right" onclick="parseBtcPayment();">Send BTC Payment</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>

<script>
    function reset_form() {
        $('#amount').val('');
        $('#memo').val('');
        $('#payment_request').val('');
        return false;
    }

    function decode_request(suppressErrors) {
        var payment_request = $('#payment_request').val();
        if (!payment_request)
            return;

        if (!suppressErrors)
            notify_handler('info', 'Wait , Decoding ...');
        $.post("/pay/decode_request",
            "payment_request=" + payment_request,
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    $('#amount').val('');
                    $('#memo').val('');
                    if (!suppressErrors)
                        notify_handler('error', htmlResult.data.error_message);
                } else {
                    $('#amount').val(htmlResult.data.num_satoshis);
                    $('#memo').val(htmlResult.data.description);
                    notify_handler('success', 'decoded !');
                }
            });
        return false;
    }

    function send_payment(payment_request) {
        notify_handler('info', 'Wait , sending payment ...');
        $("#send").attr("disabled", true);
        $.post("/pay",
            "payment_request=" + payment_request,
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    notify_handler('error', htmlResult.data.error_message);
                } else {
                    notify_handler('success', 'Payment has been sent. payment_preimage_str: ' + htmlResult.data.payment_preimage_str);
                }
                $("#send").attr("disabled", false);
            });
        return false;
    }

    function paste() {
        if ($('#payment_request').val() != "")
            return;

        $('#payment_request').select();
        document.designMode = "on";
        var pasted = document.execCommand('paste');
        window.getSelection().removeAllRanges();
        document.designMode = "off";
        if (pasted)
            decode_request(true);

        if (navigator.clipboard && !pasted) {
            navigator.clipboard.readText()
                .then(text => {
                    if (text.length > 150 && text.slice(0, 2) == "ln") {
                        $('#payment_request').val(text);
                        decode_request(true);
                    }
                    else {


                    }
                })
                .catch(err => {
                    console.error('Failed to read clipboard contents: ', err);
                });
        }

    }

    paste();

    function scan_QR() {
        qrcode.callback = pasteLNInvoice;
        getPermission();
    }

    function scan_QR_BTC() {
        qrcode.callback = pasteBtcAddress;
        getPermission();
    }

    function getPermission() {
        var loadedVideo = false;
        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" }, audio: false }).then(stream => {
            navigator.mediaDevices.enumerateDevices().then(devices => {
                videoDevices = devices.filter(device => (device.kind == "videoinput" || device.kind == "video"));
                if (videoDevices.length == 0) {
                    notify_handler('error', 'No media devices found');
                    return;
                }
                $("#qr-scan").removeClass("hide");
                if (videoDevices.length == 1)
                    loadVideo(videoDevices[0].id);
                else {
                    //alert(videoDevices.length);
                    for (i = 0; i < videoDevices.length; i++) {
                        var device = videoDevices[i];
                        //alert("index: " + i + " facing: " + device.facing + " label: " + device.label.toLowerCase() + " id: " + device.id + " back? " + device.label.toLowerCase().includes("back"));
                        if (device.facing == "environment" || device.label.toLowerCase().includes("back")) {
                            //alert("found back camera");
                            i = videoDevices.length;
                            loadedVideo = true;
                            loadVideo(device.id);
                            return;
                        }

                    };
                    if (!loadedVideo) {
                        loadedVideo = false;
                        var video = document.getElementById("video");
                        video.pause();
                        video.srcObject = stream;
                        video.play();
                        if (currentStream == undefined)
                            document.getElementById("video").addEventListener('timeupdate', decode, false);
                        currentStream = stream;
                    }
                }
            });
        });
    };

    function loadVideo(id) {
        var constraints = {};
        constraints.video = {};
        constraints.video.deviceId = { 'exact': id };
        if (currentStream != undefined) {
            currentStream.getTracks().forEach(track => {
                track.stop();
            });
        }
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
            var video = document.getElementById("video");
            video.pause();
            video.srcObject = stream;
            video.play();
            if (currentStream == undefined)
                //document.getElementById("video").addEventListener('timeupdate', decode, false);
                setInterval(decode, 10);
            currentStream = stream;
            currentDeviceId = id;
        });

    };

    function decode() {
        var v = document.getElementById("video");
        var c = document.getElementById("image-canvas");
        var ctx = c.getContext("2d");
        ctx.imageSmoothingEnabled = false;
        c.width = v.offsetWidth;
        c.height = v.offsetHeight;
        ctx.drawImage(v, 0, 0, v.offsetWidth, v.offsetHeight);
        qrcode.decode(c.toDataURL());
        // flip context horizontally

        ctx.translate(c.width / 2, c.height / 2);
        ctx.scale(-1, 1);
        qrcode.decode(c.toDataURL());
    }

    function pasteBtcAddress(data) {
        switch ($($(".network_mode")[0]).html()) {
            case "MAINNET":
                if (data && data[0] == '1' || data[0] == '3' || data[0] == 'b' || data.slice(0, 2) == "bc1") {
                    $('#btc_address').val(data);
                    $("#qr-scan").addClass("hide");
                }
                break;
            case "TESTNET":
                if (data && data[0] == 'm' || data[0] == 'n3' || data[0] == '2' || data.slice(0, 2) == "tb1") {
                    $('#btc_address').val(data);
                    $("#qr-scan").addClass("hide");
                }
                break;
            default:
                console.log("unknown network mode: " + $($(".network_mode")[0]).html());
                break;
        }
    }

    function pasteLNInvoice(data) {
        if (data.slice(0, 1) == "ln") {
            $('#payment_request').val(data);
            decode_request();
            console.log("Scanned QR: " + data);
            $("#qr-scan").addClass("hide");
        }
    }


    function parseBtcPayment() {
        var transaction = {};
        transaction.addr = $("#btc_address").val();
        transaction.amount = $("#btc_amount").val();
        switch ($("#fees").val()) {
            case "3blocks":
                break;
            case "xblocks":
                transaction.target_conf = $("#xblocks").val();
                break;
            case "satbyte":
                transaction.sat_per_byte = $("#satbytes").val();
                break;
        }
        if ($("#sweep_all").val() == "true")
            transaction.send_all = true;

        sendBTCPayment(transaction);
    }

    /*
     *{
    addr: <string>,
    amount: <int64>,
    target_conf: <int32>,
    sat_per_byte: <int64>,
    send_all: <bool>,
  }
     */
    function sendBTCPayment(transaction) {
        notify_handler('info', 'Wait , sending payment ...');
        $("#send_btc").attr("disabled", true);
        $.post("/pay/btc",
            transaction,
            function (htmlResult) {
                if (htmlResult.status == 'fail') {
                    notify_handler('error', htmlResult.data.error_message);
                } else {
                    notify_handler('success', 'Payment has been sent. Transaction ID: ' + htmlResult.data.txid);
                }
                $("#send_btc").attr("disabled", false);
            });
        return false;
    }

    function feesChanged() {
        switch ($("#fees").val()) {
            case "3blocks":
                $("#xblocks-div").addClass("hide");
                $("#satbyte-div").addClass("hide");
                break;
            case "xblocks":
                $("#satbyte-div").addClass("hide");
                $("#xblocks-div").removeClass("hide");
                break;
            case "satbyte":
                $("#satbyte-div").removeClass("hide");
                $("#xblocks-div").addClass("hide");
                break;
        }
    }
</script>