<% applocals.header='Peers'%>
<% applocals.header_small='List of peers that connected to your node.'%>

<section class="content">
    <script src="dist/js/clipboard.min.js"></script>

    <script>
        var clipboard = new Clipboard('.btn');

        clipboard.on('success', function (e) {
            $('#' + e.trigger.id).html('Copied');
            setTimeout(function () {
                $('#' + e.trigger.id).html('Copy');
            }, 5000);
            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            $('#' + e.trigger.id).html('Failed');
            setTimeout(function () {
                $('#' + e.trigger.id).html('Copy');
            }, 5000);
        });
    </script>

    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <!-- /.box-header -->
                <div class="box-header">
                    <div class="input-group input-group-sm" style="width:100%;">
                        <input class="form-control" type="text" value="" id="add_peer">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" id="btn_addpeer" onclick="add_peer()">Add Peer</button>
                        </span>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Pub key</th>
                                <th>Host</th>
                                <th>Ping time</th>
                                <th>Inbound</th>
                                <th>Bytes Out</th>
                                <th>Bytes In</th>
                                <th>Sats Out</th>
                                <th>Sats In</th>
                                <th>Address</th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(viewdata.listPeers.status =='success') { %>
                            <% viewdata.listPeers.data.peers.forEach(function (peer) { %>
                            <tr>
                                <td>
                                    <div class="input-group input-group-sm" style="width:100%;">
                                        <input class="form-control" readonly="readonly" type="text" value="<%= peer.pub_key %>">
                                    </div>
                                </td>
                                <td>
                                    <%= peer.address %>
                                </td>
                                <td><%= peer.ping_time %></td>
                                <td><%= peer.inbound %></td>
                                <td><%= peer.bytes_sent %></td>
                                <td><%= peer.bytes_recv %></td>
                                <td><%= peer.sat_sent %></td>
                                <td><%= peer.sat_recv %></td>
                                <td>
                                    <div class="input-group input-group-sm" style="width:100%;">
                                        <input class="form-control" readonly="readonly" type="text" value="<%= peer.pub_key + '@' + peer.address %>" id="peer_<%= peer.pub_key %>">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat" data-clipboard-target="#peer_<%= peer.pub_key %>" id="btn_<%= peer.pub_key %>">Copy</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-danger btn-flat"  id="btn_disconn_<%= peer.pub_key %>" onclick="disconnect_peer('<%= peer.pub_key + '@' + peer.address %>')">Disconnect</button>
                                        </span>
                                    </div>
                                </td>
                                <td style="display:none"><%= peer.pub_key %></td>
                                <td style="display:none"><%= peer.pub_key + '@' + peer.address %></td>
                            </tr>
                            <%});%>
                            <%}%>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Pub key</th>
                                <th>Host</th>
                                <th>Ping time</th>
                                <th>Inbound</th>
                                <th>Bytes Out</th>
                                <th>Bytes In</th>
                                <th>Sats Out</th>
                                <th>Sats In</th>
                                <th>Address</th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <script>
        function add_peer() {
            $.post("/call",
                "method_name=connectPeer&addr_string=" + $("#add_peer").val() + "&perm=false",
                function (jsonresult) {
                    if (jsonresult.status == 'success') 
                        window.location.reload();
                    else
                        notify_handler("error", "Failed to add peer, error: " + jsonresult.data.error_message)
                });
        }

        function disconnect_peer(address) {
            $.post("/call",
                "method_name=disconnectPeer&addr_string=" +address,
                function (jsonresult) {
                    if (jsonresult.status == 'success') 
                        window.location.reload();
                    else
                        notify_handler("error", "Failed to add peer, error: " + jsonresult.data.error_message)
                });
        }
    </script>
</section>

